-if @game.errors.any?
  #error_explanation
    %strong= "#{pluralize(@game.errors.count, "error")} prohibited this game from being saved:"
    %ol
      - @game.errors.full_messages.each do |msg|
        %li= msg


%h3= "Game Board"
%table.player_board


  %tr.align_center
    %td.white
    -10.times do |g|
      %td.white
        ="#{g}"
  -10.times do |i|
    %tr.line_one
      %td.white
        ="#{i}"
      -10.times do |k|
        %td.player_placement{:id => "player_board_#{k}_#{i}", :data_x => "#{k}", :data_y => "#{i}"}
          ="#{k}:#{i}"
#ships_for_game
  %h3 Ship Details

  #ships_horizontal
    %h4
      ="Orientation : Horizontal"
    %table
      %tr


        %td

        -Ship.all.each do |ship|
          %tr
            -total_ships_game = GameShip.where(:ship_id => ship.id, :game_id => @game.id).count
            -if total_ships_game < ship.max_per_game
              %td
                =ship.name

              -(ship.max_per_game - total_ships_game).times do |i|
                %td
                  .ships_horizontal{:id => "ship_#{ship.id}",:style => "width: #{ship.length * 30}px;", :ship_id =>ship.id, :orientation => "horizontal", :data_length => ship.length, :game_id => @game.id}
                    &nbsp;
  #ships_vertical
    %h4
      ="Orientation : Vertical"
    %table
      %tr

        -Ship.all.each do |ship|
          %td
            -total_ships_game = GameShip.where(:ship_id => ship.id, :game_id => @game.id).count
            -if total_ships_game < ship.max_per_game
              %span
                =ship.name

              -(ship.max_per_game - total_ships_game).times do |i|
                %span
                  .ships_vertical{:id => "ship_#{ship.id}",:style => "height: #{ship.length * 30}px;", :ship_id =>ship.id, :orientation => "vertical", :data_length => ship.length, :game_id => @game.id }
                    &nbsp;
                  %br
:javascript
  $(function() {
    ShipsDraggables();
    ShipsDroppables();
    draw_ships_for_game();
  });
%br
%h3
  Ships In Play
%table.game_ships{:border => 0, :cellpadding => 0, :cellspacing => 0}
  %tr
    %th
      Ship Name
    %th
      x coordinates
    %th
      y coordinates
    %th
      Length
    %th
      Edit
    %th
      Remove
  -GameShip.where(:game_id => @game.id).order(:x).each do |game_ship|
    %tr
      %td
        =game_ship.ship.name
      %td
        =game_ship.x
      %td
        =game_ship.y
      %td
        =game_ship.ship.length
      %td
        =link_to "Move Ship", edit_game_ship_path(:id => game_ship.id), :remote => true
      %td
        =link_to "Delete Ship", game_ship_path(:id => game_ship.id), :method => :delete, :remote => true



#json_string{:style => "display:none"}
  =@game.json_string
%span=link_to "Register Game on Server", register_game_path(@game)



#javascript_data{:style => "display:none"}
  #game_ship_ids
    -game_ship_ids = []
    -GameShip.where(:game_id =>@game.id ).each do |game_ship|
      - game_ship_ids << game_ship.id
    =game_ship_ids.join(",")

  #game_ship_x
    -game_ship_x = []
    -GameShip.where(:game_id =>@game.id ).each do |game_ship|
      - game_ship_x << game_ship.x
    =game_ship_x.join(",")
  #game_ship_y
    -game_ship_y = []
    -GameShip.where(:game_id =>@game.id ).each do |game_ship|
      - game_ship_y << game_ship.y
    =game_ship_y.join(",")

  #game_ship_length
    -game_ship_length = []
    -GameShip.where(:game_id =>@game.id ).each do |game_ship|
      - game_ship_length << game_ship.ship.length
    =game_ship_length.join(",")
  #game_ship_orientation
    -game_ship_orientation = []
    -GameShip.where(:game_id =>@game.id ).each do |game_ship|
      - game_ship_orientation << game_ship.orientation
    =game_ship_orientation.join(",")


