= semantic_form_for @game, :url => { :action => "register" } do |f|
  -if @game.errors.any?
    #error_explanation
      %strong= "#{pluralize(@game.errors.count, "error")} prohibited this game from being saved:"
      %ol
        - @game.errors.full_messages.each do |msg|
          %li= msg
  =f.inputs "Details" do
    =f.label :name
    %br
    = f.text_field :name
    %br
    = f.label :email
    %br
    = f.text_field :email
  %h3= "Game Board"
  %table.player_board{:border => 0, :cellpadding => 0, :cellspacing => 0}
    -10.times do |i|
      %tr.line_one
        -10.times do |k|
          %td.player_placement{:id => "player_board_#{k}_#{i}", :data_x => "#{k}", :data_y => "#{i}"}
            ="#{k}:#{i}"

  %div{:style => "position: absolute; right: 420px; top:436px"}
    %h3 Ship Details

    %table
      %tr
        %td
          ="Ship Name: "
        %td
          ="Ship Length"
        %td

      -Ship.all.each do |ship|
        %tr
          %td
            =ship.name

          %td
            =ship.length
          -ship.max_per_game.times do |i|
            %td
              .ships{:style => "height: 30px;width: #{ship.length * 30}px; border: 1px solid black; padding: 0; margin: 0; background-color: #6d6969", :ship_id =>ship.id}
                &nbsp;

  :javascript
    $(function() {
      ShipsDraggables();
      ShipsDroppables();
    });
  %br
  = f.submit "Register Game"
