= semantic_form_for @game do |f|
  -if @game.errors.any?
    #error_explanation
      %strong= "#{pluralize(@game.errors.count, "error")} prohibited this game from being saved:"
      %ol
        - @game.errors.full_messages.each do |msg|
          %li= msg
  =f.hidden_field :client_hits, :value => 0
  =f.hidden_field :server_hits, :value => 0
  =f.inputs "Details" do
    =f.label :name
    %br
    = f.text_field :name
    %br
    = f.label :email
    %br
    = f.text_field :email

  = f.submit "Create Game"
