%h2 Game
.enemy
  %div{:style => "width: 125px;"}
    %h3= "Enemy's Seas"
  %table.enemy_board

    %tr.align_center
      %td.white
      -10.times do |g|
        %td.white
          ="#{g}"
    -10.times do |i|
      %tr.line_one
        %td.white
          ="#{i}"
        -Block.where(:game_id => @game.id, :server_board => true, :y => i).each do |block|
          %td.attack_area{:id => "enemy_board_#{block.x}_#{block.y}", :data_x => block.x, :data_y => block.y, :data_game_id => @game.id}

.player
  %div{:style => "width: 125px;"}
    %h3= "Player "

  %table.player_board
    %tr.align_center
      %td.white
      -10.times do |g|
        %td.white
          ="#{g}"
    -10.times do |i|
      %tr.line_one
        %td.white
          ="#{i}"
        -Block.where(:game_id => @game.id, :server_board => false, :y => i).each do |block|

          %td.player_placement{:id => "player_board_#{block.x}_#{block.y}", :data_x => block.x, :data_y => block.y}


  .ships_show{:style => "position: absolute; right: 630px; top:530px"}
    %h3 Player Ships
    %table
      %tr
        %th

        %th
      %tr
        %td
          -GameShip.where(:game_id => @game.id).order(:ship_id).each do |game_ship|
            -color = "#6d6969"
            -if game_ship.sunk
              -color = "red"
            -if game_ship.orientation == "vertical"
              =game_ship.ship.name
              %span
                .game_ships_vertical{:style => "background-color: #{color}", :id => "game_ship_#{game_ship.id}",:style => "height: #{game_ship.ship.length * 30}px;", :game_id => @game.id, :orientation => "vertical"}
                  &nbsp;
        %td
          -GameShip.where(:game_id => @game.id).order(:ship_id).each do |game_ship|
            -color = "#6d6969"
            -if game_ship.sunk
              -color = "red"
            -if game_ship.orientation == "horizontal"
              =game_ship.ship.name
              %span
                .game_ships_horizontal{:style => "background-color: #{color}",:id => "game_ship_#{game_ship.id}",:style => "width: #{game_ship.ship.length * 30}px;", :game_id => @game.id, :orientation => "horizontal"}
                  &nbsp;

#nuke_data{:style => "display:none"}
  #server_nuke_ids
    -server_nuke_ids = []
    -Nuke.where(:game_id =>@game.id, :server_nuke_boolean => true ).each do |nuke|
      - server_nuke_ids << nuke.id
    =server_nuke_ids.join(",")
  #server_x
    -server_x = []
    -Nuke.where(:game_id =>@game.id, :server_nuke_boolean => true ).each do |nuke|
      - server_x << nuke.x
    =server_x.join(",")
  #server_y
    -server_y = []
    -Nuke.where(:game_id =>@game.id, :server_nuke_boolean => true ).each do |nuke|
      - server_y << nuke.y
    =server_y.join(",")
  #server_hit_miss
    -server_hit_miss = []
    -Nuke.where(:game_id =>@game.id, :server_nuke_boolean => true ).each do |nuke|
      - server_hit_miss << nuke.status
    =server_hit_miss.join(",")

  #nuke_ids
    -nuke_ids = []
    -Nuke.where(:game_id =>@game.id, :server_nuke_boolean => false ).each do |nuke|
      - nuke_ids << nuke.id
    =nuke_ids.join(",")
  #nuke_x
    -nuke_x = []
    -Nuke.where(:game_id =>@game.id, :server_nuke_boolean => false ).each do |nuke|
      - nuke_x << nuke.x
    =nuke_x.join(",")
  #nuke_y
    -nuke_y = []
    -Nuke.where(:game_id =>@game.id, :server_nuke_boolean => false ).each do |nuke|
      - nuke_y << nuke.y
    =nuke_y.join(",")
  #nuke_hit_miss
    -nuke_hit_miss = []
    -Nuke.where(:game_id =>@game.id, :server_nuke_boolean => false ).each do |nuke|
      - nuke_hit_miss << nuke.status
    =nuke_hit_miss.join(",")


#javascript_data{:style => "display:none"}
  #game_ship_ids
    -game_ship_ids = []
    -GameShip.where(:game_id =>@game.id ).each do |game_ship|
      - game_ship_ids << game_ship.id
    =game_ship_ids.join(",")

  #game_ship_x
    -game_ship_x = []
    -GameShip.where(:game_id =>@game.id ).each do |game_ship|
      - game_ship_x << game_ship.x
    =game_ship_x.join(",")
  #game_ship_y
    -game_ship_y = []
    -GameShip.where(:game_id =>@game.id ).each do |game_ship|
      - game_ship_y << game_ship.y
    =game_ship_y.join(",")

  #game_ship_length
    -game_ship_length = []
    -GameShip.where(:game_id =>@game.id ).each do |game_ship|
      - game_ship_length << game_ship.ship.length
    =game_ship_length.join(",")
  #game_ship_orientation
    -game_ship_orientation = []
    -GameShip.where(:game_id =>@game.id ).each do |game_ship|
      - game_ship_orientation << game_ship.orientation
    =game_ship_orientation.join(",")
:javascript
  $(function() {
    nuke_server();
    draw_ships_for_game();
    draw_nukes_for_game();
  });